SQUARE_ACCESS_TOKEN=
SQUARE_LOCATION_ID=
SQUARE_ENVIRONMENT=sandbox
NEXT_PUBLIC_SITE_URL=http://localhost:3000
RESEND_API_KEY=
EMAIL_FROM=Ghetto Link Books <orders@ghettolink22.com>
EMAIL_REPLY_TO=ghettolink22@gmail.com
SQUARE_WEBHOOK_SIGNATURE_KEY=
